.footer {
    background-color: #ffffff;
    color: #545452;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    flex: 7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.copyright {
    flex: 1;
}

.phrase {
    font-size: 25px;
    margin: 20px 0;
}

.iconsBox {
    padding-top: 20px;
    padding-bottom: 20px;
    /* border-top: 1px solid #545452;
    border-bottom: 1px solid #545452; */
    text-align: center;
    margin: 20px 0;
    width: 100%;
}

.iconsBox a {
    margin-right: 30px;
    margin-left: 30px;
}

@media (min-width: 550px) {
    .iconsBox {
        width: 500px;
    }
}