.banner {
    background-image: url('../public/images/banner.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 44vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 1440px;
    max-height: 638px;
}

.text {
    width: 300px;
}

.message {
    color: #226E93;
    font-size: 20px;
    line-height: 28px;
}

.button {
    background-color: #226E93;
    color: white;
    padding: 8px 0 10px 0;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.button:hover {
    background-color: #205c7a;
}

.button:active {
    background-color: #184257;
}

.bannermobile {
    display: none;
}

@media (max-width: 426px) {
    .banner {
        background-image: none;
        height: auto;
        max-height: fit-content;
        flex-direction: column;
    }

    .text {
        text-align: center;
        margin-top: 70px;
        margin-bottom: 70px;
    }

    .flexBalance {
        display: none;
    }

    .bannermobile {
        display: block;
    }
}